.side-bar {
  height: 100vh;
  padding: 15px;

  & .paperhuts-logo {
    width: 60%;
    margin: 0 20%;
  }

  & .logo-space {
    height: 20vh;
    margin-bottom: 10vh;
  }

  .motto {
    display: flex;
    justify-content: flex-end;
    margin-top: 35vh;
    height: 10vh;
    word-wrap: break-word;
  }

  & .motto1 {
    color: red;
    font-size: 150%;
  }
}